:root{
    --cyan: hsl(179, 62%, 43%);
    --lightcyan: hsl(180, 53%, 60%);
    --brightyellow: hsl(71, 73%, 54%);
    --lighthray: hsl(204, 43%, 93%);
    --grayishnlue: hsl(218, 22%, 67%);
}
*{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
}
body{
    background-color: var(--lighthray);
}
main{
    width: 85%;
    margin: 0 auto;
    margin-top: 25px;
}

/*DISEÑO ITEM 1*/
.item1{
    background-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.item1 .desktop{
    display: none;
}
.item1 .title{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--cyan);
    padding-left: 1.36rem;
    padding-top: 15px;
}
.item1 .days-mobile{
    margin-top: 12px;
    font-size: 1.4rem;
    color: var(--brightyellow);   
    padding-left: 1.36rem;
}
.item1 .days-desktop{
    display: none;
}
.item1 .description{
    width: 90%;
    margin: 0 auto;
    margin-top: 12px;
    font-size: 1.2rem;
    color: var(--grayishnlue);
    padding-bottom: 20px;
}

/*DISEÑO ITEM 2*/
.item2{
    background-color: var(--cyan);
    height: 184px;
}
.item2 .title{
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    padding-left: 1.36rem;
    padding-top: 15px;
}
.item2 .price-container{
    margin-top: 15px;
    display: flex;
    padding-left: 1.36rem;
    align-items: center;
}
.item2 .price-container span{
    font-size: 2.8rem;
    color: white;
}
.item2 .price-container .price{
    color: var(--lighthray);
    padding-left: 10px;
}
.item2 .access{
    margin-left: 1.36rem;
    margin-top: 5px;
    font-size: 1.2rem;
    color: white;
}
.item2 button{
    margin-right: 1.36rem;
    margin-left: 1.36rem;
    margin-top: 20px;
    width: 90%;
    height: 4rem;
    background-color: var(--brightyellow);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*DISEÑO ITEM 3*/
.item3{
    background-color: var(--lightcyan);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 184px;
}
.item3 .title{
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    padding-left: 1.36rem;
    padding-top: 15px;
}
.item3 .description{
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 1.2rem;
    color: var(--lighthray);
    padding-bottom: 20px;
}

/*MEDIA QUERIE 1440 PX*/
@media (min-width:1440px) {
    main{
        margin: 0 auto;
        width: 50%;
        display: grid;
        grid-template-columns: 255px 255px;
        /* grid-template-rows: 100px 100px; */
    }

    /*ITEM 1*/
    .item1{
        grid-column-start: 1;
        grid-column-end: 3;
        padding-left: 2rem;
    }
    .item1 .title{
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--cyan);
        padding-left: 1.36rem;
        padding-top: 15px;
    }
    .item1 .days-mobile{
        display: none;
    }
    .item1 .days-desktop{
        display: block;
        margin-top: 12px;
        font-size: 1.4rem;
        color: var(--brightyellow);   
        padding-left: 1.36rem;
    }
    .item1 .description .mobile{
        display: none;
    }
    .item1 .description .desktop{
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-top: 12px;
        margin-left: -1.36rem;
        font-size: 1.2rem;
        color: var(--grayishnlue);
        padding-bottom: 20px;
    } 

    /*ITEM 2*/
    .item2{
        background-color: var(--cyan);
        padding-left: 2rem;
        height: 184px;
        border-bottom-left-radius: 7px;
    }
    .item2 .title{
        font-size: 1.5rem;
    }
    .item2 button{
        margin-right: 2rem;
        width: 78%;
    }

    /*ITEM 3*/
    .item3{
        padding-left: 2rem;
        border-bottom-left-radius: 0;
    }
}